.App-header {
  margin: 30px;
}

.App .logo {
  max-width: 150px;
  position: relative;
  top: 10px;
  border-radius: 45%;
  margin: 0 auto;
  box-shadow: 0px 8px 6px rgb(192, 190, 190);
}
.App h1 {
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
  font-family: "Azeret Mono", monospace;
  font-family: "Lato", sans-serif;
}
