.Results section {
  background-color: #f3f7ff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #d0d5db;
  padding: 25px;
}
h2 {
  font-size: 34px;
  font-weight: bold;
}
h3 {
  font-size: 25px;
  font-weight: bold;
}
