.App {
  background-color: #ffffff;
  border-radius: 7px;
  border: 1px #a9bbcd solid;
  line-height: 2;
  margin: 20px;
  font-family: "Azeret Mono", monospace;
  font-family: "Lato", sans-serif;
}
.App section {
  background-color: #f3f7ff;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #b3c3d3;
  margin: 25px;
  padding: 25px;
}

.App .form-control {
  background-color: #f3f7ff;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 3px 3px #b3c3d3;
  border-radius: 40px;
  font-size: 23px;
  max-width: 70%;
  padding: 15px;
}
@media (max-width: 600px) {
  .App .form-control {
    font-size: 12px;
  }
}

.btn {
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
  font-size: 15px;
  border: 1px solid #a9bbcd;
  box-shadow: 2px 2px rgb(192, 188, 188);
}
.btn:hover {
  cursor: pointer;
  background: #648fba;
  opacity: all 0.15s ease-in-out;
}
footer {
  text-align: center;
  padding: 25px;
}
a {
  color: #8b8d8c;
  text-decoration: none;
}
