.App {
  background-color: #e7e9eb;
  border-radius: 5px;
  margin: 70px;
}

.App form {
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 40%;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 20%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  box-shadow: 2px 2px rgb(192, 188, 188);
}
